# Mapeo de autores para git/GitHub
# Formato: <nombre correcto> <email correcto> <nombre anterior> <email anterior>

JefersonDeLaCruz <dv23003@ues.edu.sv> alexis <dv23003@ues.edu.sv>
manuelmv15 <mv23036@ues.edu.sv> manuelmv <manuelmv@server.taile278cb.ts.net>
manuelmv15 <mv23036@ues.edu.sv> mv-mnl <mv23036@ues.edu.sv>
